@font-face {
    font-family: "noto-sans";
    src: url("../assets/fonts/NotoSerifKR-Regular.otf");
}

@font-face {
    font-family: "Crisis";
    src: url("../assets/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf");
}

@font-face {
    font-family: "Hahmlet";
    src: url("../assets/fonts/Hahmlet-VariableFont_wght.ttf");
}

.HospitalEditPage {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 0px;
    /* background-color: rgb(48, 42, 81); */
    height: 900px;
}

.modify_title {
    font-family: "Hahmlet";
    font-size: 28px;
    margin-bottom: 20px;
}

.modify_notice {
    background-color: rgb(220, 220, 220);
    width: 500px;
    height: 100px;
    word-break: break-all;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.modify_content {
    width: 350px;
    color: rgb(58, 58, 58);
    font-weight: bold;
}

.modify_nickname {
    width: 500px;
    font-family: "Hahmlet";
    margin-top: 25px;
}

.modify_before {
    display: flex;
    align-items: center;
    font-size: 18px;
    /* padding-left: ; */
    width: 500px;
    height: 50px;
    background-color: rgb(220, 220, 220);
}

.modify_name {
    padding-left: 15px;
}

.modify_after {
    width: 500px;
}

.modify_input {
    width: 100%;
    height: 50px;
    border-style: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-weight: bold;
    color: gray;
    padding-left: 10px;
    font-weight: 400;
}

.modify_input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

.modify_nick {
    margin-bottom: 5px;
    font-weight: 600;
}

.modify_finish {
    margin-top: 25px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modify_btn {
    width: 200px;
    height: 60px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d1c2f0;
    border-style: none;
    color: white;
}

.modify_btn:disabled {
    width: 200px;
    height: 60px;
    font-size: 18px;
    border-radius: 5px;
    cursor: no-drop;
    background-color: lightgray;
    border-style: none;
    color: #909090;
}

.modify_end {
    /* background-color: red; */
    width: 100%;
    text-align: right;
    font-family: "Hahmlet";
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}