@font-face {
    font-family: "Hahmlet";
    src: url("../assets/fonts/Hahmlet-VariableFont_wght.ttf");
}

@font-face {
    font-family: "ClimateCrisis";
    src: url("../assets/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf");
}


.NoticePage{
    /* background-color: red; */
    font-family: "Hahmlet";
    display: flex;
    flex-direction: column;
    align-items: center;

}

.notice_title {
    background-image: url("../assets/img/beautiful.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 36px;
    background-color: #A19FD5;
    width: 920px;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
    height: 120px;
    display: flex;
    align-items: center;   
}

.notice_title >div {
  padding-left: 20px;
}

.notice_section{
    /* background-color: blueviolet; */
    width: 920px;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    background-color: red;

}

.notice_list{
    list-style: none;
    /* background-color: blue; */
    width: 920px;
    padding-left:0;
}

.notice_item{
    background-color: #DBD9EC;
    opacity: 0.9;
    width: 920px;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    
}
.item_nav{
    padding-left: 15px;
    display: flex;
    /* background-color: red; */
    width: 520px;
    justify-content: space-between;
    /* background-color: aquamarine; */
}
.nav_num{
    /* background-color: red */
    font-size: 16px;
    color: #BDBADC;
    font-weight: bold;
}
.nav_type1{
    /* background-color: red */
    /* border: 1px solid red; */
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    /* color: red; */
}
.nav_type2{
    /* background-color: red */
    border: 1px solid black;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}
.nav_title{
    /* background-color: red; */
    width: 400px;
    font-size: 16px;
    font-weight: 600;
}

.item_date{
    /* background-color: blue; */
    width: 25%;
    text-align: center;
    font-size: 16px;
    color: #929292;
}

/* 공지사항 작성 페이지 */

.write_section{
        /* background-color: blueviolet; */
        width: 920px;
        /* height: 400px; */
        /* background-color: red; */
}

.write_title{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 920px;
    border-bottom: 1px solid #D6D6D6 ;
}


.write_input{
    width: 920px;
    height: 43px;
    outline: none;
    border-radius: 5px;
    border-style: none;
    /* background-color: red; */
    outline:1px solid #A19FD5;
    padding-left: 5px;
    font-size: 20px;
    /* color: #C6C5C5; */
}

.write_input:focus{
    outline:2px solid #0982f0;
}

.write_input::placeholder{
    font-size: 20px;
    color: #C6C5C5 ;
    font-family: "Hahmlet";
   
}


.write_category{
    display: flex;
    height: 50px;
    border-bottom: 1px solid #D6D6D6 ;
    align-items: center;
    padding-left: 5px;
    /* background-color: red; */
    
}

.category_select{
    display: flex;
    /* background-color: pink; */
    /* padding-right: 15px; */
    /* background-color: blue; */
    width: 200px;
    justify-content: space-between;
    /* background-color:blue; */
}
.category_fixed{
    display: flex;
    /* background-color: blue; */
    /* background-color: red; */
    width: 120px;
    justify-content: space-between;
    margin-left: 20px;
}

.write_content{
    /* background-color: red; */
    
}

.category_select select{
width: 80px;
border-radius: 5px; 
border: 1px solid #BDBADC;
font-size: 13px;
/* -webkit-appearance: none; 
-moz-appearance: none;
appearance: none; */
}

.category_fixed input[type="button"] {
    width: 50px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

/* .category_fixed input[type="button"]:hover {
   background-color: #BDBADC;
   color: #ffffff;
   font-weight: bold;
} */

.fbtn{
    background-color: grey;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
 
 }

 .fbtnOn{
    background-color: #BDBADC;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
 }

 .write_finish{
    /* background-color: red; */
    width: 920px;
    display: flex;
    justify-content: right;
    margin-top: 5px;
 }

 .write_btn{
    border-style: none;
    width: 114px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #A19FD5;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
 

}
.write_btn:hover{
  background-color:#BDBADC ;
 }
 /* 공지사항 상세페이지 */

 .board_detail{
    width: 920px;
 }
 .detail_title{
    height: 50px;
    /* background-color: red; */
    border-bottom: 1px solid #D6D6D6;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    
 }
.detail_content{
    height: 400px;
    /* background-color: red; */
}
.title_left{
    display: flex;
    /* background-color: red; */
    width: 450px;
    justify-content: space-between;
}

.write_finish{
    /* background-color: red; */
    height: 50px;
    display: flex;
    align-items: center;
    border-top: 1px solid #BDBADC;
}

.modi_btn{
    border-style: none;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    background-color: grey;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    
}

.back_btn{
    border-style: none;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #A19FD5;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}